*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
public/admin/assets/img/screenshots/modern.png
public/admin/assets/img/screenshots/light.png
public/admin/assets/img/screenshots/dashboard-e-commerce.png
public/admin/assets/img/screenshots/dashboard-default.png
public/admin/assets/img/screenshots/dashboard-analytics.png
public/admin/assets/img/screenshots/dark.png
public/admin/assets/img/photos/unsplash-3.jpg
public/admin/assets/img/photos/unsplash-2.jpg
public/admin/assets/img/photos/unsplash-1.jpg
public/admin/assets/img/brands/webpack.svg
public/admin/assets/img/brands/sass.svg
public/admin/assets/img/brands/npm.svg
public/admin/assets/img/brands/bootstrap.png
public/admin/assets/img/brands/b.svg
public/admin/assets/img/avatars/avatar.jpg
public/admin/assets/img/avatars/avatar-5.jpg
public/admin/assets/img/avatars/avatar-4.jpg
public/admin/assets/img/avatars/avatar-3.jpg
public/admin/assets/img/avatars/avatar-2.jpg
.gitignore
public/admin/assets/img/.gitkeep
